 * {
 		margin:  0;
 		padding:  0;
 }
 h1 {
    text-align: center;
    color: white;
    font-style: italic;

 }
 body {
 	background-color: rgb(51, 125, 37);
 }
 form {
 	color:  white;
 	background-color: rgb(100, 181, 85);
    font-size: 30px;
    font-family: serif;
    padding: 5px;
    border: 5px;
    text-align: center;
 }
img{
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
